h1 {
  text-align: center;
  color: black;
  text-decoration: underline;
  font-style: italic;
}
h2 {
  text-decoration: underline;
  font-style: italic;
}

background {
  background: blue;
}
.intro {
  font-style: italic;
}
.important {
  color: blue;
  font-style: italic;
}
.sidebar {
  width: 500px;
  float: right;
}
.test box {
  border: 2px solid black;
}
.text align {
  text align-content: center;
}
img {
  float: left;
  align:center;
}
