h1 {
  text-align: center;
  color: black;
  text-decoration: underline;
  font-style: italic;
}
h2 {
  text-decoration: underline;
  font-style: italic;
}

background {
  color: white;
}
.intro {
  font-style: italic;
}
.important {
  color: blue;
  font-style: italic;
}
